{{define "content"}}


    <form method='post'> 

        <label class="text-sm m-1 block">Title<br>
        <input name='title' value='{{.Page.Title}}' class="w-96 rounded border border-gray-600 p-1 mt-1"></label>

        <label class="text-sm m-1 block">Title<br>
        <textarea name='content' class="w-96 rounded border border-gray-600 p-1 mt-1">{{.Page.Content}}</textarea></label>
        
        <div class="m-1 mt-2">
            <button class="rounded border border-gray-600 bg-sky-300 p-1.5 px-2 tracking-wide" type='submit'>Save</button> 
            <button class="rounded border border-gray-600 bg-slate-300 p-1.5 px-2 tracking-wide" type='reset'>Reset</button> 
        </div>

    </form>


{{end}}
