{{define "content"}}


<div class="">

    <h1 class="">{{.Page.Title}}</h1>
    <br>

    Content:<br>
    <div>{{.Page.Content}}</div>
    <br>
    <br>

    <h4>Subpages:</h4>
    <ul class="list-group">
    {{range $p := $.Children }}
        <li class="list-group-item list-group-item-action">
            <a href="{{$p.URL.ToLink}}">{{$p.Title}}</a><br>
        </li>
    {{end}}
    </ul>
    <br>
    <br>

    {{if $.Parent}}
        <h4>Parent:</h4>
        <a href="{{$.Parent.URL.ToLink}}">{{$.Parent.Title}}</a><br>
    {{end}}

</div>

{{end}}
